src/main/resources/ID3global-xsd4.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GlobalCheck.DataLib"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/GlobalCheck.DataLib">
    <xs:complexType name="ArrayOfGlobalStatus">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="GlobalStatus" nillable="true"
                        type="tns:GlobalStatus"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfGlobalStatus" nillable="true" type="tns:ArrayOfGlobalStatus"/>
    <xs:complexType name="GlobalStatus">
        <xs:sequence>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="RequestText" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ResponseText" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GlobalStatus" nillable="true" type="tns:GlobalStatus"/>
</xs:schema>